/*******************************************************************************
*  Theme Name: Brochmann	
*      Author: Francisco "Pacho" Gonzalez
*  Created on: Septiembre 2015
*     Project: Brochmann
*   Copyright: Espacios de México 2015 Copyright
*******************************************************************************/

/* Globals */


/* Generals */
.row{
	margin-left: 0;
	margin-right: 0;
}
.navbar,
.widget{
	background-color: transparent;
}
.entry-header,
.entry-content,
.entry-summary,
.entry-meta{
	
}

/* Slide panel */


/* Header */
#masthead{
	border-bottom: 15px solid #3746ab;
}
#sidebar{
	background: #333;
}
.site-header aside,
.site-header .navbar{
	margin: 0px;
}

/* Header and footer Social icons */
.textwidget a.su-button{
	background-color: transparent !important;
}
.textwidget a.su-button span{
	padding: 0 !important;
}
.textwidget a.su-button span i{
	color: #081d3d !important;
	margin: 0px 10px 0px 0px !important; 
}
.textwidget a.su-button:last-child span i{
	margin-right: 0px  !important;
}
.textwidget a.su-button span i:before{
	display: block;
	font-size: 20pt;
}

/* Logo */
.site-logo{}
.site-logo a{
	display: block;
	position: relative;
	margin: 10px auto;
}
.site-logo a img{
	display: block;
	width: 70%;
}

/* Menu */
.nav-menu{
	padding-right: 0 !important;
	float: right;
}
.nav-menu .menu-item{
	position: relative;
	border-right: 1px solid #081d3d;
}
.nav-menu .menu-item:hover,
.nav-menu .menu-item:focus{
	border-right: 1px solid #3746ad;
}
.nav-menu .menu-item:last-child{
	border: none;
}
.nav-menu .menu-item a{
	padding: 5px 12px;
}
.nav-menu .current_page_item > a,
.nav-menu .current_page_ancestor > a,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-ancestor > a{
	font-style: normal;
	color: #3746ad;
}
.nav-menu li:hover > a,
.nav-menu li a:hover,
.nav-menu li:focus > a,
.nav-menu li a:focus{
	background: transparent;
	color: #3746ad;
}

/* Slider */
#main-slider{
	z-index: -1;
	margin-top: -115px;
	position: relative;
}
.forcefullwidth_wrapper_tp_banner{}

/* Content */
.hentry{
	padding: 0px;
}

/* Footer */
.site-footer{
	background-color: #091e3d;
	border-top: 10px solid #D5DF26;
	padding: 20px 20px 10px;
	color: #fff;
}
.site-footer p{
	margin: 0px;
}
.site-footer .textwidget a.su-button span i{
	color: #fff !important;
}

/*========== Content ==============*/
#content-title{
	background-color: #091e3d;
	color: #fff;
	padding: 45px 0;
}
#content-title .entry-title{
	text-align: center;
}
.container.entry-content{
	padding-top: 45px;
	/*padding-bottom: 45px;*/
}
.entry-content p{
	font-size: 12pt;
}

/*=== Forms ===*/
.customForm{}
.customForm input,
.customForm textarea{
	display: block;
	width: 100%;
	margin-bottom: 10px;
	border: 1px solid #091E3D;
}

.customForm textarea{
	height: 200px;
}
.customForm input[type="submit"]{
	float: right;
	width: 30%;
	border: none;
	background: #091E3D;
}
.customForm input[type="submit"]:hover{
	background: #3746AB;
}


/*========== Add Styles SHC  ======*/
.su-list.broch-list-t1{}
.su-list.broch-list-t1 > ul{}
.su-list.broch-list-t1 > ul li{
	padding-top: 8px !important;
	padding-bottom: 8px !important;
	background: #e1e1e1;
	margin-bottom: 5px !important;
}
.su-list.broch-list-t1 > ul li > i{
	left: 3px;
	top: 6px;
	font-size: 14pt;
}
.su-list.broch-list-t1 > ul li:hover{
	background-color: #091E3D !important;
	color: #fff !important;
}
.su-list.broch-list-t1 > ul li:hover > i{
	color: #fff !important;
}

/*========== Responsive  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1170px) {
	.nav-menu .menu-item a{
		padding: 5px 9px;
		font-size: 10pt;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
/* Small menu */
	.menu-toggle {
		cursor: pointer;
		display: inline-block;
		font: bold 16px/1.3 "Source Sans Pro", Helvetica, sans-serif;
		margin: 0;
	}

	.menu-toggle,
	.menu-toggle:hover,
	.menu-toggle:focus,
	.menu-toggle:active {
		background: none;
		border: none;
		color: #141412;
		padding: 12px 0 12px 20px;
	}

	.menu-toggle:focus {
		outline: thin dotted;
	}

	.menu-toggle:after {
		content: "\f502";
		font-size: 12px;
		padding-left: 8px;
		vertical-align: -4px;
	}

	.toggled-on .menu-toggle:after {
		content: "\f500";
		vertical-align: 2px;
	}

	.toggled-on .nav-menu,
	.toggled-on .nav-menu > ul {
		display: block;
		margin-left: 0;
		padding: 0;
		width: 100%;
	}

	.toggled-on li,
	.toggled-on .children {
		display: block;
	}

	.toggled-on .nav-menu li > ul {
		background-color: transparent;
		display: block;
		float: none;
		margin-left: 20px;
		position: relative;
		left: auto;
		top: auto;
	}

	.toggled-on .nav-menu li > ul a {
		color: #141412;
		width: auto;
	}

	.toggled-on .nav-menu li:hover > a,
	.toggled-on .nav-menu .children a {
		background-color: transparent;
		color: #141412;
	}

	.toggled-on .nav-menu > li a:hover,
	.toggled-on .nav-menu > ul a:hover {
		background-color: #db572f;
		color: #fff;
	}

	.toggled-on .nav-menu > li a:focus,
	.toggled-on .nav-menu > ul a:focus {
		background-color: #220e10;
		color: #fff;
	}

	ul.nav-menu,
	div.nav-menu > ul {
		display: none;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}